Repository JamesKim2998/config: changes, and which lefthook commands are due for each by the changed paths.
All: lychee, md-orphan, nvim-check

lychee:
  run: lychee --offline --no-progress --exclude-path 'node_modules' --exclude-path 'yazi/plugins' {staged_files}

md-orphan:
  run: md-orphan CLAUDE.md --exclude '*/node_modules/*,yazi/plugins,intellij,.claude'

nvim-check:
  run: .githooks/nvim-check

zsh: correct GIT_OPTIONAL_LOCKS comment
  .zshenv
Due: none

tailscale: heal LG U+ DS-Lite CGNAT route hijack
  CLAUDE.md
  TODO.md
  setup.sh
  tailscale/TAILSCALE.md
  tailscale/cgnat-route.sh
  tailscale/com.studioboxcat.tailscale-cgnat-fix.plist
Due: lychee, md-orphan

set model to fable 5
  .claude/settings.json
Due: none

removed inaccessible model
  .claude/settings.json
Due: none

docs: simplify pspec tool description
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

nvim: add Rust support (rustaceanvim + clippy, rustfmt, treesitter)
  CLAUDE.md
  docs/nvim.md
  nvim/ftplugin/rust.lua
  nvim/lua/plugins/conform.lua
  nvim/lua/plugins/plugins.lua
  nvim/lua/plugins/rustaceanvim.lua
  setup.sh
Due: lychee, md-orphan, nvim-check

nvim: pin rust-analyzer to stable toolchain
  nvim/lua/plugins/rustaceanvim.lua
Due: nvim-check

vscode: mirror ideavim bindings + recommended settings
  .vscode/settings.json
Due: none

vscode: associate *.pspec with json
  .vscode/settings.json
Due: none

claude: show session name in Stop notification via notify-done.sh
  .claude/notify-done.sh
  .claude/settings.json
  setup.sh
Due: none

vscode: move panel/terminal to right, regroup settings
  .vscode/settings.json
Due: none

vscode: unbind Cmd+Shift+W, regroup terminal settings
  .vscode/keybindings.json
  .vscode/settings.json
  setup.sh
Due: none

claude: clickable Stop-hook notifier via alerter
  .claude/app/ClaudeSender.app/Contents/Info.plist
  .claude/app/ClaudeSender.app/Contents/MacOS/noop
  .claude/app/ClaudeSender.app/Contents/Resources/claude.icns
  .claude/notify-done.sh
  CLAUDE.md
  TODO.md
  setup.sh
Due: lychee, md-orphan

claude: stop notify-done.sh hanging the session
  .claude/notify-done.sh
Due: none

claude: tighten code/doc-review skills, add reuse & medium checks
  .claude/skills-global/project-code-review/SKILL.md
  .claude/skills-global/project-doc-review/SKILL.md
Due: lychee, md-orphan

claude: catch legacy-behavior comments, slim declutter skill
  .claude/skills-global/declutter/SKILL.md
Due: lychee, md-orphan

claude: add Minimal authoring rule, drop worktree section
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

vscode: strip editor chrome (line numbers, glyph margin, welcome tab)
  .vscode/settings.json
Due: none

vscode: follow macOS appearance for light/dark theme
  .vscode/settings.json
Due: none

vscode: tighten diff view collapsing, ignore markdown trailing spaces
  .vscode/settings.json
Due: none

vscode: skip git sync confirmation
  .vscode/settings.json
Due: none

vscode: dock Claude Code in the panel
  .vscode/settings.json
Due: none

vscode: make vim j/k walk soft-wrapped display lines
  .vscode/settings.json
Due: none

claude: pin project model to opus
  .claude/settings.json
Due: none

karabiner: import live config (right option to F16 on remaining devices)
  karabiner/karabiner.json
Due: none

karabiner: stop Cmd+W key-repeating into a burst of tab closes
  karabiner/README.md
  karabiner/karabiner.json
Due: lychee, md-orphan

karabiner: scope right option to F16 to the MD770 only
  karabiner/README.md
  karabiner/karabiner.json
Due: lychee, md-orphan

hammerspoon: drop launcher hotkeys for uninstalled Android Studio and WebStorm
  .hammerspoon/README.md
  .hammerspoon/hotkey.lua
Due: lychee, md-orphan

zsh: drop Android SDK path entry for the uninstalled Android Studio
  .zshenv
Due: none

karabiner: revert Cmd+W no-repeat rule, it never suppressed the repeat
  karabiner/README.md
  karabiner/karabiner.json
Due: lychee, md-orphan

hammerspoon: drop the Obsidian hotkey and move VS Code to D
  .hammerspoon/README.md
  .hammerspoon/hotkey.lua
Due: lychee, md-orphan

hammerspoon: cycle an app's windows when its hotkey repeats
  .hammerspoon/README.md
  .hammerspoon/hotkey.lua
Due: lychee, md-orphan

vscode: raise the submodule detection limit for repos with many submodules
  .vscode/settings.json
Due: none

vscode: split global settings into vscode/ and prefix window titles per project
  .vscode/settings.json
  CLAUDE.md
  setup.sh
  vscode/keybindings.json
  vscode/settings.json
Due: lychee, md-orphan

claude: add a single-source rule and fold the doc policy into guidelines
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

vscode: shorten the workbench hover delay for the Source Control Graph
  vscode/settings.json
Due: none

md-orphan: register the account, device and referral server repos
  md-orphan/md-orphan.json
Due: none

claude: sheet sync is one recipe now (just langpack-sheet)
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

claude: tighten the doc crosslink and file-reference rules
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

vscode: tint the title bar per repo; docs/vscode.md owns the palette
  .vscode/settings.json
  CLAUDE.md
  docs/vscode.md
  vscode/settings.json
Due: lychee, md-orphan

Path conditions:
  lychee: any of: *.md
  md-orphan: any of: *.md
  nvim-check: any of: nvim/**
