Repository JamesKim2998/config: changes, and which lefthook commands are due for each by the changed paths.
All: lychee, md-orphan, nvim-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lychee:
      glob: "*.md"
      run: lychee --offline --no-progress --exclude-path 'node_modules' --exclude-path 'yazi/plugins' {staged_files}
    md-orphan:
      glob: "*.md"
      run: md-orphan CLAUDE.md --exclude '*/node_modules/*,yazi/plugins,intellij,.claude'
    nvim-check:
      glob: "nvim/**"
      run: .githooks/nvim-check

claude statusline: use git remote URL for repo name
  .claude/statusline.sh
Due: none

claude.md: rename `wt sync` → `wt land` (local-only, no push/PR)
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

kitty: strip trailing newline on paste to prevent auto-exec
  kitty/kitty.conf
  kitty/paste-actions.py
Due: none

Hammerspoon: point Unity binding at unity-launcher
  .hammerspoon/README.md
  .hammerspoon/hotkey.lua
  CLAUDE.md
Due: lychee, md-orphan

Add unity-launcher to global CLI Tools list
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

yazi: cc/cd copy path & dirname with $HOME → ~
  docs/yazi.md
  yazi/justfile
  yazi/keymap.toml
  yazi/plugins/copy-path.yazi/main.lua
Due: lychee, md-orphan

nvim: <leader>Y copies absolute path with $HOME → ~
  nvim/init.lua
Due: nvim-check

nvim: <C-n> focuses explorer when unfocused, closes only when focused
  docs/nvim.md
  nvim/lua/plugins/neo-tree.lua
Due: lychee, md-orphan, nvim-check

yazi: widen preview pane to 50% (ratio 1:4:5)
  yazi/yazi.toml
Due: none

yazi/bat: route justfile + pspec to bat with proper syntax
  bat/config
  yazi/yazi.toml
Due: none

claude: ring terminal bell on Notification (input needed)
  .claude/settings.json
Due: none

lazygit: fix 'y' on folder, merge files+commitFiles bindings
  lazygit/config.yml
Due: none

.cargo/config.toml: per-machine local-checkout patches
  .cargo/config.toml
  CLAUDE.md
  setup.sh
Due: lychee, md-orphan

CLAUDE.global.md: drop alfredo row, add unity-assetdb
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

.cargo/config.toml: dual-key unity-assetdb patch
  .cargo/config.toml
Due: none

added rust section
  .zshenv
Due: none

yazi/langpack: route preview through `langpack decode` (CLI)
  yazi/plugins/langpack.yazi/main.lua
Due: none

.zshrc: extract _wt_go_pick, use `wt ls --bare` for snappy TAB
  .zshrc
  diagnostics/wt-completion.test.ts
Due: none

disabled lazygit autolock
  lazygit/config.yml
Due: none

lazygit: disable autoFetch to stop index.lock contention on launch
  lazygit/config.yml
Due: none

nvim: <leader>y copies repo-relative path (worktree-aware)
  docs/nvim.md
  nvim/init.lua
Due: lychee, md-orphan, nvim-check

unity-sprite-author
  .cargo/config.toml
Due: none

.zshrc: _wt_go_pick prints NAME column ($2), not ID ($1)
  .zshrc
  diagnostics/wt-completion.test.ts
Due: none

cargo: local patch for langpack-core; rename tps-mod patch URL → tps
  .cargo/config.toml
Due: none

.cargo/config.toml
  .cargo/config.toml
Due: none

auto update
  .claude/settings.json
Due: none

skills: rename code-review/doc-review → project-code-review/project-doc-review
  .claude/skills-global/overhaul/SKILL.md
  .claude/skills-global/project-code-review/SKILL.md
  .claude/skills-global/project-doc-review/SKILL.md
  .claude/skills-global/wrap-up/SKILL.md
Due: lychee, md-orphan

cargo: patch unity-sprite-author-watch for local dev
  .zshrc
  diagnostics/wt-completion.test.ts
Due: none

karabiner: add MD770 BT troubleshooting doc
  karabiner/README.md
  karabiner/md770-troubleshooting.md
Due: lychee, md-orphan

claude: slim down pspec/game-art-tool/langpack descriptions
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

git/.gitignore_global
  git/.gitignore_global
Due: none

rust: faster local dev loop — incremental + lld, drop global sccache
  .cargo/config.toml
  .zshenv
Due: none

zsh: GIT_OPTIONAL_LOCKS=0 to keep gitsigns off index.lock
  .zshenv
Due: none

rust: drop cargo path overrides and sccache env config
  .cargo/config.toml
  .zshenv
Due: none

claude: add declutter skill; tighten code/doc-review skills
  .claude/skills-global/declutter/SKILL.md
  .claude/skills-global/project-code-review/SKILL.md
  .claude/skills-global/project-doc-review/SKILL.md
Due: lychee, md-orphan

removed enabled plugins
  .claude/settings.json
Due: none

kitty: regression test for 0.47.0 reload-config crash
  diagnostics/kitty-reload.test.ts
Due: none

claude: ring bell via native terminal_bell channel
  .claude/settings.json
  diagnostics/claude-tab-icon.test.ts
Due: none

git: enable status.submoduleSummary
  git/.gitconfig
Due: none

rg: remove inert .ripgreprc
  .ripgreprc
  CLAUDE.md
  setup.sh
Due: lychee, md-orphan
