Repository JamesKim2998/config: changes, and which lefthook commands are due for each by the changed paths.
All: lychee, md-orphan, nvim-check

lychee:
  run: lychee --offline --no-progress --exclude-path 'node_modules' --exclude-path 'yazi/plugins' {staged_files}

md-orphan:
  run: md-orphan CLAUDE.md --exclude '*/node_modules/*,yazi/plugins,intellij,.claude'

nvim-check:
  run: .githooks/nvim-check

boxcat monorepo: repo paths become $BOXCAT_ROOT/<folder>, the server is named by host, wt and the worktree pool go
  .claude/CLAUDE.global.md
  .claude/statusline.sh
  .zshenv
  .zshrc
  CLAUDE.md
  diagnostics/wt-completion.test.ts
  lazygit/config.yml
  setup-server.sh
Due: lychee, md-orphan

boxcat's own facts move to the monorepo; paths into the old clones follow it
  .claude/CLAUDE.global.md
  .codex/config.toml
  .hammerspoon/README.md
  .hammerspoon/hotkey.lua
  CLAUDE.md
  docs/vscode.md
  yazi/keymap.toml
Due: lychee, md-orphan

vscode: per-window title emojis and title-bar tints go — config's own and the palette doc
  .vscode/settings.json
  CLAUDE.md
  docs/vscode.md
  vscode/settings.json
Due: lychee, md-orphan

doc rules: frontmatter replaces the Related header, the filename is the title, wiki links span a repo
  .claude/CLAUDE.global.md
  .claude/skills-global/project-doc-review/SKILL.md
Due: lychee, md-orphan

drop todo alias
  .zshrc
Due: none

doc rules: the description's scope is the only frontmatter rule written down; the doc review points at them instead of restating
  .claude/CLAUDE.global.md
  .claude/skills-global/project-doc-review/SKILL.md
Due: lychee, md-orphan

ref-cop: renamed from md-orphan, with every check on — docs get frontmatter, comment refs that aren't links become code
  .ref-cop
  CLAUDE.md
  docs/nvim-plugin-testing.md
  docs/nvim.md
  docs/vscode.md
  docs/yazi.md
  karabiner/README.md
  karabiner/md770-troubleshooting.md
  lefthook.yml
  tailscale/TAILSCALE.md
  vscode/settings.json
  yazi/init.lua
Due: lychee, md-orphan

docs: a wiki anchor is the heading's text, not its slug
  .claude/CLAUDE.global.md
  docs/nvim-plugin-testing.md
  vscode/settings.json
Due: lychee, md-orphan

claude: the TODO rule keeps only the admission test; a repo's TODO layout is its own (boxcat's scripts/todo.ts hook enforces it), and declutter/wrap-up stop restating it
  .claude/CLAUDE.global.md
  .claude/skills-global/declutter/SKILL.md
  .claude/skills-global/wrap-up/SKILL.md
Due: lychee, md-orphan

packages: pnpm, gemini-cli, Copilot, glow, miller, procs, httpie and 7-zip go — nothing here calls them; intellij/ keeps only .ideavimrc, and the global CLAUDE.md stops advertising mlr
  .claude/CLAUDE.global.md
  .ref-cop
  .zshenv
  CLAUDE.md
  gemini/.gitignore
  intellij/.gitignore
  intellij/global-agents-instructions.md
  intellij/global-copilot-instructions.md
  intellij/global-git-commit-instructions.md
  nvim/init.lua
  setup.sh
Due: lychee, md-orphan, nvim-check

claude: notify-done skips a Stop while a background subagent is still running; the last one's wrap-up notifies
  .claude/notify-done.sh
Due: none

vscode: open Unity .meta/.asset as YAML and TexturePacker .tps as XML
  vscode/settings.json
Due: none

vscode: open TexturePacker .tpsheet as JSON
  vscode/settings.json
Due: none

claude: default model is opus, not the 1M-context variant
  .claude/settings.json
Due: none

vscode: Claude Code never auto-archives inactive sessions
  vscode/settings.json
Due: none

claude: drop the unused wrap-up skill
  .claude/skills-global/wrap-up/SKILL.md
Due: lychee, md-orphan

vscode: open Unity .prefab/.unity as YAML
  vscode/settings.json
Due: none

packages: eza goes — its ls alias broke agents' plain ls flags (ls -t <path>)
  .zshrc
  diagnostics/shell-path.test.ts
  setup.sh
  yazi/plugins/piper.yazi/README.md
Due: lychee, md-orphan

eza goes: its ls/ll/la/lt aliases, its setup.sh install and its login-shell check — plain ls is enough
  .zshrc
  diagnostics/shell-path.test.ts
  setup.sh
Due: none

quicklook: syntax-highlighted Finder previews, incl. .jsonc and Unity .meta/.prefab/.mat/.unity as YAML
  CLAUDE.md
  quicklook/FileTypes.app/Contents/Info.plist
  setup.sh
Due: lychee, md-orphan

setup-server: WORKTREE_ROOT puts the worktree pool's slots — the build lanes among them — on the external SSD, off the boot disk they filled.
  setup-server.sh
Due: none

claude: docs' format examples use placeholders (Foo, Bar), not real content names, which drift as content changes
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

zsh: Claude Code's git shim goes on PATH from .zshrc — from .zshenv, a login shell's path_helper put /usr/bin ahead of it, and the session snapshot took that order.
  .zshenv
  .zshrc
Due: none

claude: the global guideline only points at the Claude-Session trailer; how to search it is git's.
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

Claude Code's shells put a boxcat pool slot's own CLIs first on PATH: the nearest .host-tools/bin above the working directory, ahead of the host's, and one left from another tree dropped.
  .claude/session-env.sh
Due: none

The boxcat slot PATH rule moves into boxcat itself (its scripts/host-tools-path.sh, from the project's SessionStart hook): a repo's convention, for every clone's sessions.
  .claude/session-env.sh
Due: none

Path conditions:
  lychee: any of: *.md
  md-orphan: any of: *.md
  nvim-check: any of: nvim/**
