Repository JamesKim2998/config: changes, and which lefthook commands are due for each by the changed paths.
All: lychee, md-orphan, nvim-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lychee:
      glob: "*.md"
      run: lychee --offline --no-progress --exclude-path 'node_modules' --exclude-path 'yazi/plugins' {staged_files}
    md-orphan:
      glob: "*.md"
      run: md-orphan CLAUDE.md --exclude '*/node_modules/*,yazi/plugins,intellij,.claude'
    nvim-check:
      glob: "nvim/**"
      run: .githooks/nvim-check

kitty: splits/tab cwd = last_reported (honor OSC 7)
  kitty/kitty.conf
Due: none

.claude/skills-global/overhaul
  .claude/skills-global/overhaul/SKILL.md
Due: lychee, md-orphan

md-orphan/md-orphan.json
  md-orphan/md-orphan.json
Due: none

md-orphan setup
  setup.sh
Due: none

added missing repos
  md-orphan/md-orphan.json
Due: none

pspec to json
  nvim/init.lua
Due: nvim-check

yazi: open folders/.app via macOS opener; restore O menu; add R reveal
  .md-orphan
  AGENTS.md
  CLAUDE.md
  TODO.md
  diagnostics/yazi-folder-open.test.ts
  docs/nvim-plugin-testing.md
  docs/yazi.md
  karabiner/README.md
  yazi/keymap.toml
  yazi/yazi.toml
Due: lychee, md-orphan

gitignore: ignore .claude/scheduled_tasks.lock
  git/.gitignore_global
Due: none

kitty: equalize splits on launch via on_resize; px border to dodge glitch
  TODO.md
  kitty/equalize.py
  kitty/kitty.conf
Due: lychee, md-orphan

yazi: soft filter — dim non-matches on /, type-to-jump + n/N walk
  TODO.md
  diagnostics/yazi-soft-filter.test.ts
  docs/yazi.md
  yazi/init.lua
  yazi/keymap.toml
  yazi/plugins/soft-filter.yazi/main.lua
Due: lychee, md-orphan

lazygit: bind y to open yazi at the selected file
  lazygit/config.yml
Due: none

lazygit: disable <c-t> openDiffTool — too easy to accidentally launch nvimdiff
  lazygit/config.yml
Due: none

yazi: W jumps to a git worktree via fzf picker
  docs/yazi.md
  yazi/keymap.toml
  yazi/plugins/worktree-jump.yazi/main.lua
Due: lychee, md-orphan

zshrc: add cdw — cd to a git worktree by branch or basename
  .zshrc
Due: none

yazi: w jumps to worktree; default tasks:show moves to W
  docs/yazi.md
  yazi/keymap.toml
Due: lychee, md-orphan

zshrc: ze cds to $CONFIG_REPO; fix cdw $PATH shadow bug
  .zshrc
Due: none

lazygit: linter whitespace tweak (single space before inline comment)
  lazygit/config.yml
Due: none

yazi: soft filter scoped per directory
  docs/yazi.md
  yazi/init.lua
  yazi/plugins/soft-filter.yazi/main.lua
Due: lychee, md-orphan

kitty: append hourglass to renamed tabs while Claude Code is busy
  .claude/settings.json
  TODO.md
  diagnostics/claude-tab-icon.test.ts
  kitty/claude-busy.py
  kitty/kitty.conf
Due: lychee, md-orphan

claude: replace retired build-unity-sln with unity-solution-generator
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

zshrc: g() wraps lazygit so ctrl+r / worktree switch cds the shell
  .zshrc
Due: none

zshrc: fzf-driven tab completion for `cdw`
  .zshrc
Due: none

nvim,bat: treat *.pspec.sidecar as JSON
  bat/config
  nvim/init.lua
Due: nvim-check

yazi: truncate tab names past 12 chars with ellipsis
  yazi/init.lua
Due: none

yazi: status bar shows repo · branch with repo-relative path
  diagnostics/yazi-status-overdraw.test.ts
  yazi/init.lua
  yazi/plugins/git-status.yazi/main.lua
Due: none

yazi: lint plugins with luac, vendor LuaLS type stubs
  diagnostics/yazi-lua-syntax.test.ts
  yazi/.luarc.json
  yazi/justfile
  yazi/package.toml
  yazi/plugins/types.yazi/LICENSE
  yazi/plugins/types.yazi/README.md
  yazi/plugins/types.yazi/main.lua
Due: lychee, md-orphan

yazi: worktree-jump shows commit metadata, sorts by recency
  diagnostics/yazi-worktree-jump.test.ts
  yazi/plugins/worktree-jump.yazi/main.lua
Due: none

docs: yazi sandbox + render-path gotcha, lint, LSP
  docs/yazi.md
Due: lychee, md-orphan

TODO: yazi git-status submodule label + worktree-jump fzf-1 wording
  TODO.md
Due: lychee, md-orphan

yazi: git-status inherits cache on intra-repo cd
  diagnostics/yazi-git-status-inherit.test.ts
  yazi/plugins/git-status.yazi/main.lua
Due: none

yazi: anchor overdraw test on path tail, not head
  diagnostics/yazi-status-overdraw.test.ts
Due: none

diagnostics: TmuxRunner waitFor replaces fixed sleeps
  TODO.md
  diagnostics/lib.ts
  diagnostics/yazi-folder-open.test.ts
  diagnostics/yazi-fr.test.ts
  diagnostics/yazi-soft-filter.test.ts
  diagnostics/yazi-tps-open.test.ts
  docs/yazi.md
Due: lychee, md-orphan

zsh: fzf TAB completion for `wt go` (resume held worktree-pool slots)
  .zshrc
Due: none

zsh: cdw fzf-tab skips detached-HEAD worktrees (idle pool slots)
  .zshrc
Due: none

zsh: lazy `just` TAB completion (defer clap dispatcher until first TAB)
  .zshrc
Due: none

claude.md: add Worktree subsection under Workflow
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

claude.md: tighten Worktree subsection
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

stash guideline for worktree
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

claude: custom status line (repo / branch / git status / vim mode)
  .claude/settings.json
  .claude/statusline.sh
  setup.sh
Due: none
