Repository JamesKim2998/config: changes, and which lefthook commands are due for each by the changed paths.
All: lychee, md-orphan, nvim-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lychee:
      glob: "*.md"
      run: lychee --offline --no-progress --exclude-path 'node_modules' --exclude-path 'yazi/plugins' {staged_files}
    md-orphan:
      glob: "*.md"
      run: md-orphan CLAUDE.md --exclude '*/node_modules/*,yazi/plugins,intellij,.claude'
    nvim-check:
      glob: "nvim/**"
      run: .githooks/nvim-check

meow-doc-finder, build-unity-sln on CLAUDE.global.md
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

ignored .claude/settings.local.json
  git/.gitignore_global
Due: none

adjusted kitty font size
  kitty/kitty.conf
Due: none

guidelines: flatten bullets, add breadcrumbs + md-orphan
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

disabled memory, reorder
  .claude/settings.json
Due: none

added notion-to-md
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

claude: restructure guidelines and promote doc policy
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

added meow-game-server entry to major repo
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

claude: add wrap-up skill for session-end doc/TODO sync
  .claude/skills/wrap-up/SKILL.md
Due: lychee, md-orphan

claude: generalize wrap-up skill beyond /clear
  .claude/skills/wrap-up/SKILL.md
Due: lychee, md-orphan

claude: add code-review and doc-review skills
  .claude/skills/code-review/SKILL.md
  .claude/skills/doc-review/SKILL.md
Due: lychee, md-orphan

added meow-infra
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

guidelines: add strong types rule
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

ignored .claude/worktrees/
  git/.gitignore_global
Due: none

added handoff prompt to wrap-up
  .claude/skills/wrap-up/SKILL.md
Due: lychee, md-orphan

added meow-dev-media
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

split the global skill with project skill
  .claude/skills-global/code-review/SKILL.md
  .claude/skills-global/doc-review/SKILL.md
  .claude/skills-global/wrap-up/SKILL.md
  setup.sh
Due: lychee, md-orphan

skills: refine wrap-up delegation and review scopes
  .claude/skills-global/code-review/SKILL.md
  .claude/skills-global/doc-review/SKILL.md
  .claude/skills-global/wrap-up/SKILL.md
Due: lychee, md-orphan

.claude/settings.json
  .claude/settings.json
Due: none

tweak build-unity-sln line
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

frontend-design false as default
  .claude/settings.json
Due: none

added langpack repo on md
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

kitty: pane framing tweaks, qol bindings
  kitty/kitty.conf
  kitty/themes/kanagawa-custom.conf
Due: none

claude code: opt out of fullscreen TUI to keep scrollback
  .zshenv
Due: none

tighten file-headers guideline
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

kitty: fix pane equalization on close
  kitty/equalize.py
  kitty/kitty.conf
Due: none

zshenv: drop stale ruby@2.7 gem bin from PATH
  .zshenv
Due: none

added fastlane output configs
  .zshenv
Due: none

doc policy: split same-repo vs cross-repo file refs
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

smaller kitty font size
  kitty/kitty.conf
Due: none

git: nvimdiff as diff/merge tool, regroup config sections
  git/.gitconfig
Due: none

Implementation Rationale
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

claude code stop bell on kitty tab
  .claude/settings.json
  kitty/kitty.conf
Due: none

kitty: bell fills title padding instead of growing tab
  kitty/kitty.conf
Due: none

tabbar to slante
  kitty/kitty.conf
Due: none

nvim: ctrl+hjkl navigates splits from insert mode
  nvim/lua/plugins/kitty-navigator.lua
Due: nvim-check

kitty: disable ctrl+shift+w (fat-finger near ctrl+shift+e)
  kitty/kitty.conf
Due: none

theme to auto
  .claude/settings.json
Due: none

kitty visual tweak
  .gitignore
  AGENTS.md
  kitty/dark-theme.auto.conf
  kitty/kitty.conf
  kitty/light-theme.auto.conf
  kitty/themes/kanagawa-lotus-custom.conf
  kitty/themes/kanagawa-lotus.conf
Due: lychee, md-orphan

nvim: disable F1 (avoid accidental help popup)
  nvim/init.lua
Due: nvim-check
