Repository JamesKim2998/config: changes, and which lefthook commands are due for each by the changed paths.
All: lychee, md-orphan, nvim-check

lychee:
  run: lychee --offline --no-progress --exclude-path 'node_modules' --exclude-path 'yazi/plugins' {staged_files}

md-orphan:
  run: md-orphan CLAUDE.md --exclude '*/node_modules/*,yazi/plugins,intellij,.claude'

nvim-check:
  run: .githooks/nvim-check

add lefthook quiet output, remove marksman LSP
  .zshenv
  nvim/lua/plugins/lsp.lua
Due: nvim-check

zsh: add cpwd and cpr aliases for copying paths
  .zshrc
Due: none

zsh: move llm section after aliases, rename codex to llm
  .zshrc
Due: none

yazi: fix Shift+Tab by using BackTab key name
  yazi/keymap.toml
Due: none

add claude settings.json, update setup.sh and zsh aliases
  .claude/settings.json
  .zshrc
  setup.sh
Due: none

claude: reorder settings.json keys
  .claude/settings.json
Due: none

kitty: move shift+enter comment to its own line
  kitty/kitty.conf
Due: none

ideavimrc: fix inline comment being interpreted as mapping input
  intellij/.ideavimrc
Due: none

claude: enable experimental agent teams
  .claude/settings.json
Due: none

ideavimrc: add case-insensitive search
  intellij/.ideavimrc
Due: none

zshrc: fall back to pwd when CLAUDE.md not found in ai()
  .zshrc
Due: none

claude: remove fast mode and agent teams experiment
  .claude/settings.json
Due: none

nvim: add ftplugin for 4-space indent in C# and Python
  nvim/ftplugin/cs.lua
  nvim/ftplugin/python.lua
Due: nvim-check

claude: enable skip dangerous mode permission prompt
  .claude/settings.json
Due: none

claude: add doc guidelines section with Mermaid preference
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

git: add inline comments for fsmonitor and untrackedCache
  git/.gitconfig
Due: none

starship: lower timeout and skip submodule status checks
  starship.toml
Due: none

git: add parallel submodule fetch jobs
  git/.gitconfig
Due: none

kitty: add cmd+N tab switching and alt+N window switching
  kitty/kitty.conf
Due: none

nvim: add split keybindings, fix C-k conflict, remove yazi plugin
  nvim/init.lua
  nvim/lua/plugins/blink-cmp.lua
  nvim/lua/plugins/yazi.lua
Due: nvim-check

nvim: change vsplit keybinding from leader+| to leader+\
  nvim/init.lua
Due: nvim-check

docs: update nvim keymaps for splits, completion, remove yazi
  docs/nvim.md
Due: lychee, md-orphan

kitty: add nerd font number icons to tab titles
  kitty/kitty.conf
Due: none

git: disable fsmonitor for better perf in multi-submodule repos
  git/.gitconfig
Due: none

include config.local
  .ssh/config
Due: none

yazi: add o/O keybindings for open and reveal in Finder
  yazi/keymap.toml
Due: none

kitty: add horizontal layout
  kitty/kitty.conf
Due: none

intellij: add global agents instructions placeholder
  intellij/global-agents-instructions.md
Due: lychee, md-orphan

claude: add effortLevel high setting
  .claude/settings.json
Due: none

zsh: reorganize PATH and env vars in .zshenv
  .zshenv
Due: none

ignore jetbrains user-specific files
  git/.gitignore_global
Due: none

auto opus removal
  .claude/settings.json
Due: none

add LFS relay auth header for EC2 proxy
  git/.gitconfig
Due: none

added ilspymd
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

.claude/CLAUDE.global.md
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

wip
  .claude/CLAUDE.global.md
  kitty/equalize.py
  kitty/kitty.conf
Due: lychee, md-orphan

ai related shortcuts
  .zshrc
Due: none

bun -> just
  .claude/CLAUDE.global.md
Due: lychee, md-orphan

gr
  .zshrc
Due: none

removed claude code attribution
  .claude/settings.json
Due: none

Path conditions:
  lychee: any of: *.md
  md-orphan: any of: *.md
  nvim-check: any of: nvim/**
